* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(0, 44, 80);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color:#FFF;
}
.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #FFF;
    margin-bottom: 20px;
}

.relogio {
    width: 300px;
    height: 300px;
    border: 5px solid #FFF;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.riscos {
    width: 100%;
    height: 100%;
    padding-left: 50%;
    padding-top: 50%;
    margin-top: -3px;
}
.risco {
    width: 145px;
    height: 5px;
    position: absolute;
    transform-origin: left;
    display: flex;
    justify-content: flex-end;
}
.risco .ponto {
    width: 15px;
    height: 100%;
    background-color: #FFF;
}

.ponteiros {
    width: 100%;
    height: 100%;
    padding-left: 50%;
    padding-top: 50%;
    margin-top: -100%;
}
.p {
    transform-origin: left; /* Essa linha faz com que a origem do ponteiro fique para o lado esquerdo da div, dessa forma ela irá rotacionar ao redor desse eixo.
    Caso não tenha esse comando, a div iria rotacionar no eixo que passa pelo seu próprio centro*/
    transform: rotate(0deg); /* Essa linha faz a div rotacionar em uma determinada quantidade x de graus*/
    border-radius: 50%;
    position: absolute;
}

.p_s {
    width: 100px;
    height: 3px;
    background-color: #F00;
}
.p_m {
    width: 120px;
    height: 7px;
    background-color: #FFF;
}
.p_h {
    width: 70px;
    height: 7px;
    background-color: #FFF;
}
.encaixe {
    width: 15px;
    height: 15px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    margin-top: -5px;
    margin-left: -5px;
}
.digital {
    color: #FFF;
    font-size: 40px;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}